/** shared styles **/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,300&display=swap');

.foo {
  border: 2px solid pink;
}

.container-fluid, .nav-bar {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.converter, .exchange-page {
  background: linear-gradient(#364595 0%, #1b3372 100%);
  color: #252525;
}

h1 {
  color: #f7f7f7;
  letter-spacing: 2px;
}

/** nav bar **/

.coin-icon {
  color: #FFD30E;
  margin-right: -10px;
}

.coin-icon path {
  stroke: #FFBC36;
  stroke-width: 55;
}

.brand {
  letter-spacing: 1.2px;
  color: #f59a12;
  height: 40px;
  line-height: 36px;
}

#navbar-toggler {
  color: #f7f7f7;
  background-color: none;
  border: none;
}

#navbar-toggler span {
  background-image: url('./images/menu-icon.png');
  width: 2em;
}

.nav-link {
  margin-bottom: -30px;
}

#exchange-tab .nav-link, #converter-tab .nav-link {
  color: #252525;
  transition: ease-in-out;
}

/** converter page **/

.converter-block {
  background-color: #fff;
  border-radius: 1rem;
}

.number-input {
  text-align: center;
}

.switch-icon {
  color: #1b3372;
}

/** exchange page **/

.base-wrapper {
  background-color: #5156B8;
  color: #f7f7f7;
  border-radius: 1rem;
}

.table-wrapper, thead, tbody {
  background-color: #5156B8;
  color: #f7f7f7;
  border-radius: 1rem;
}

table {
  margin-top: 10px;
}

.exchange-block {
  background-color: #fff;
  border-radius: 1rem;
}

/** footer **/

footer {
  background-color: #1B3372;
  color: #f7f7f7;
}

/** responsive design **/

/* bootstrap xs and sm */
@media all and (max-width: 768px) {

  #nav-links .brand, #nav-links .coin-icon {
    font-size: 1.5rem;
  }
  
}

/* bootstrap large */
@media all and (min-width: 992px) {

  .tab {
    border: 15px solid transparent;
  }

  #converter-tab .active, #exchange-tab .active {
    background-color: #364595;
    border: 15px solid #364595;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color: #f7f7f7;
  }

}













