

/** shared styles **/


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,300&display=swap');

.container-fluid, .nav-bar {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

#converter-page, #exchange-page {
  background: linear-gradient(#364595 0%, #1b3372 100%);
  color: #252525;
}

h1 {
  color: #f7f7f7;
  letter-spacing: 2px;
}


/** nav bar **/


.coin-icon {
  color: #FFD30E;
  margin-right: -10px;
}

.coin-icon path {
  stroke: #FFBC36;
  stroke-width: 55;
}

.brand {
  letter-spacing: 1.2px;
  color: #f59a12;
  height: 40px;
  line-height: 36px;
}

#nav-links .brand, #nav-links .coin-icon, .footer-brand {
  font-size: 1.5rem;
}

#navbar-toggler {
  color: #f7f7f7;
  background-color: none;
  border: none;
}

#navbar-toggler span {
  background-image: url('./images/menu-icon.png');
  width: 2em;
}

.nav-link {
  margin-bottom: -30px;
}

#exchange-tab .nav-link, #converter-tab .nav-link {
  color: #252525;
  transition: ease-in-out;
}


/** converter page **/


.converter-block {
  background-color: #fff;
  border-radius: 1rem;
}

.number-input[type="number"] {
  border: none;
  border-bottom: 1px dashed #252525;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#converter-page select {
  background-color: #f3f3f3;
  border: none;
  text-align: center;
  border-radius: .5rem;
}

.switch-icon {
  color: #1b3372;
}

.output-number {
  padding: .375rem .75rem;
}

#diff-currencies {
  color: #f7f7f7;
}


/** exchange page **/


.input-border {
  background-color: #fff;
  border-radius: .5rem;
}

.base-wrapper, .table-wrapper, thead, tbody {
  border-radius: 1rem;
  height: max-content;
  color: #f7f7f7;
}

#exchange-page select {
  border-radius: .5rem;
}

/* exchange table */

#exchange-table .heading-flag, #exchange-table .heading-amount, #exchange-table .heading-base {
  background-color: #f7f7f7;
}

#exchange-table th {
  color: #252525;
  font-size: 18px;
}

#exchange-table .heading-flag {
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
  box-shadow: -2px 0px 0 2px #FFD30E;
}

#exchange-table .heading-base {
  box-shadow: 2px 0px 0 2px #FFD30E;
}

#exchange-table .heading-amount {
  border-top-right-radius: .6rem;
  border-bottom-right-radius: .6rem;
  box-shadow: 2px 0px 0 2px #FFD30E;
}

#exchange-table tbody, #exchange-table thead, #exchange-table th {
  border: none;
  --bs-table-hover-color: #FFBC36;
}

#exchange-table td {
  font-size: 30px;
  border: none;
}


/** footer **/


#footer {
  background-color: #1B3372;
  color: #f7f7f7;
  font-size: 18px;
  font-weight: 300;
}

#footer a {
  text-decoration: none;
  color: #f7f7f7;
}

#footer a:hover {
  color: #FFBC36;
}


/** responsive design **/


/* bootstrap xs and sm */
@media all and (max-width: 768px) {

  .switch-button {
    transform: rotate(90deg);
  }

  .exchange-block, .base-wrapper, .table-wrapper, thead, tbody {
    background-color: inherit;
  }

  #exchange-table td {
    border: none;
    font-size: 17px;
    font-weight: 300;
  }
  
}

/* bootstrap xs, sm, md */
@media all and (max-width: 992px) {

  #converter-tab .active, #exchange-tab .active {
    background-color: #364595;
    color: #f7f7f7;
    border: 10px solid #364595;
    border-radius: .5rem;
  }

}

/* bootstrap md+ */
@media all and (min-width: 768px) and (max-width: 1200px) {

  #exchange-table td, #exchange-table th {
    font-size: 20px;
  }

  .exchange-block {
    background-color: #fff;
    border-radius: 1rem;
  }

  .base-wrapper, .table-wrapper, thead, tbody {
    background-color: #5156B8;
  }

  .exchange-block {
    position: relative;
  }

  .base-wrapper {
    position: fixed;
    left: 9vw;
    top: 36.5%;
  }

  .footer-brand {
    font-size: 1.1rem;
  }

  #footer .brand {
    height: 40px;
    line-height: 25px;
  }

}

/* bootstrap large */
@media all and (min-width: 992px) {

  .tab {
    border: 15px solid transparent;
  }

  #converter-tab .active, #exchange-tab .active {
    background-color: #364595;
    border: 15px solid #364595;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: none;
    color: #f7f7f7;
  }

  #footer a {
    font-size: 20px;
  }

  #footer .brand {
    height: 40px;
    line-height: 25px;
  }

}

/* bootstrap xl */
@media all and (min-width: 1200px) {
  
  .converter-block {
    background: transparent;
  }

  #input-block, #output-block {
    background-color: #fff;
    border-radius: 1rem;
    padding: 3rem;
    width: 45%;
  }

  #converter-page .switch-button {
    font-size: 1.5rem;
    width: 4rem;
  }

  .switch-btn-col {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
  }

  .base-wrapper {
    position: fixed;
  }

  .base-block {
    background-color: #f7f7f7;
    border-radius: .5rem;
    border: 4px solid #FFD30E;
  }

  #exchange-page select {
    border: none;
    font-size: 30px;
  }

  #exchange-page .table-wrapper {
    margin-top: 160px;
  }

  .footer-brand {
    font-size: 1.3rem;
  }

}
